<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe search</title>
    <style>
        ul {
            list-style-type: none;
        }
    </style>
</head>
<body>
    <ul>
        <% for (var i = 0; i < results.length; i++) { %>
            <li>
                <img src="https://spoonacular.com/recipeImages/<%= results[i].image %>" alt="" height="100px">
                <a href="<%= results[i].sourceUrl %>"><%= results[i].title %></a>
                <form action="/addRecipe" method="POST">
                    <input type="hidden" name="recipe" value="<%= results[i].id %>">
                    <button type="submit">Add to personal recipes</button>
                </form>
            </li>
        <% } %>
    </ul>
</body>
</html>